@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Raleway&display=swap');
.Header {
    display: flex;
    background-color: white;
    justify-content: center;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    height: 50px;
    width: 100%;
    padding-top:20px;
}

.Header svg{
    padding-left: 6px;
}

@media screen and (max-width: 705px){
    .Header{
        padding-top: 0px;
        text-align: center;
        padding-right: 82px;
    }
}