:root {
    --nav-bar-height: 121px;
}

@media screen and (min-width: 1200px) {
    :root {
        --nav-bar-height: 121px;
    }
}

nav.navbar.wrapper {
    height: var(--nav-bar-height);
}

.Home {
    max-width: 1500px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #c899dd30;  
}

body{
    overflow:hidden;
    
} 
.homeContainer {
    overflow-y: scroll;
    height: calc(100vh - var(--nav-bar-height));
}

.HomePosts {
    display: flex;
    
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 100%;
    height: 500px;
    background-color: white;
    margin: 15px;
}

.images {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
 
}

img {
    width: 250px;
    height:200px;
}

.HomePosts a {
    text-decoration:none;
}

.HomePosts p {
  margin: 5px 0;
  color: black;
  text-decoration: none;
}

.HomePosts h1 {
    margin: 5px 0;
    display:inline-block;
    color: black;
    text-decoration: none;
  }

.location p{
 margin:0;
 color: gray;
 font-size: 14px;
}

ul.column{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

ul.row{
    display:flex;
    flex-direction: column;
    align-items:center;
}

body{
    background-color: white;
    margin-top: 120px;
}

.columnIconContainer{
    display: flex;
    justify-content: right;
    margin-top: 25px;
}

.everythingbar {
    display:flex;
}
svg {
    width: 50px;
    height: 50px;
    cursor: pointer;
}