.showpage {
    display: flex;
    flex-direction: row;
    background-color: #c899dd30;
    align-items: center;
    height: calc(100vh - var(--nav-bar-height));
    overflow: scroll;
}

.listingDetailsPage {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 0 auto;
    height: 50%;
    max-width: 1231px;
    align-items: center;
    background-color: #fcf7fe;
    min-height: 580px;
    border-radius: 1%;   
}

.listingDetailImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
    padding-left: 35px;
    padding-right: 35px;
}


.listingDetailImage img {
    height: 436px;
    width: 100%;
}

.listingDetailContainer {
    display: flex;
    justify-content: flex-start;
    margin-top: 41px;
    background-color: #fcf7fe;
    height: 67%;
    border-radius: 4%;
    padding-right: 45px;
}


.listingDetailInfo {
    display: flex;
    gap: 5px;
    flex-direction: column;
    min-width: 500px;
}

.listingDetailHeader {
    border-bottom: 1px solid black;
    height: 15%;
    margin-bottom: 21px;
}

.listingDetailContainer p {
    padding: 0;
    margin: 0;
    width: 73%;
}
.listingDetailInfo h1 {
 line-height: 5px;
 margin-top: 10px;
 padding-bottom: 20px;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9)
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@media screen and (max-width: 1136px){
    .listingDetailsPage {
        display: flex;
        justify-content: space-between;
        background-color: white;
        margin: auto;
        height: 50%;
        max-width: 1231px;
        align-items: center;
        background-color: #fcf7fe;
        flex-direction: column;
        min-height: 756px;
    }
    .listingDetailContainer {
        display: flex;
        justify-content: flex-start;
        margin-top: 41px;
        background-color: #fcf7fe;
        height: 49%;
        border-radius: 4%;
        padding-right: 45px;
        padding-left: 42px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 588px){
    .showpage{
        width: 100%;
        overflow: scroll;
    }
    .listingDetailsPage{
        width: 95%;
        min-height: 706px;
        margin-top: 10px;   
    }

    .listingDetailInfo{
        min-width:300px;
    }
    .listingDetailInfo {
        min-width: 193px;
    }
    .listingDetailImage img {
        width: 100%;
        height: 100%;
    
    }
}