.showpage {
    display: flex;
    flex-direction: row;
    background-color: #c899dd30;
    align-items: center;
    height: calc(100vh - var(--nav-bar-height));
}



.listingDetailsPage {
    display: flex;
    justify-content: space-between;
    /* padding-top: 200px; */
    background-color: white;
    margin: 0 auto;
    height: 50%;
    max-width: 1231px;
    align-items: center;
    background-color: #fcf7fe;
    
}

.listingDetailImage {
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-color: black; */
    /* background-color: purple; */
    /* height: 43%; */
    margin-top: 42px;
    /* padding: 4%; */
    /* border-radius: 25px; */
    padding-left: 35px;
    padding-right: 35px;
}


.listingDetailImage img {
    height: 400px;
    width: 500px;
}
.listingDetailContainer {
    display: flex;
    /* width: 63%; */
    /* padding: 2% 2% 2% 2%; */
    justify-content: flex-start;
    margin-top: 41px;
    background-color: #fcf7fe;
    height: 67%;
    border-radius: 4%;
    padding-right: 45px;
}


.listingDetailInfo {
    display: flex;
    gap: 5px;
    flex-direction: column;
    min-width: 500px;
}

.listingDetailHeader {
    border-bottom: 1px solid black;
    height: 15%;
    margin-bottom: 21px;
}

.listingDetailContainer p {
    padding: 0;
    margin: 0;
    width: 73%;
}
.listingDetailInfo h1 {
 line-height: 5px;
 margin-top: 10px;
 padding-bottom: 20px;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9)
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}