:root {
    --nav-bar-height: 62px;
}

@media screen and (min-width: 706px) {
    :root {
        --nav-bar-height: 62px;
    }
    
}

nav.navbar.wrapper {
    height: var(--nav-bar-height);
}

.Home {
    max-width: 1500px;
    margin: 0 auto;
    overflow: hidden;
    min-height: 961px;
}

body{
    overflow:hidden;
    background-color: white;
}

.homeContainer {
    overflow-y: scroll;
    height: calc(100vh - var(--nav-bar-height));
    background-color: #c899dd30;
}

.HomePosts {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    max-width: 400px;
    width: 100%;
    height: 500px;
    background-color: white;
    margin: 15px;
    border-radius: 7px;
    box-shadow: 0 6px 68px -6px rgba(0,0,0,.09);
    animation: fadeIn 0.5s;
}
.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.images {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

img {
    width: 100%;
    height:350px;
    border-radius: 7px 7px 0px 0px;
}

.HomePosts a {
    text-decoration:none;
    width: 100%;

}

.HomePosts p {
    margin: 0px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7;
    color: #7e8890;

}

.HomePosts h2 {
    margin: 0 0 10px;
    color: black;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.location p {
 margin:0;
 color: #7e8890;

}

ul.column, ul.row {
    display: flex;
    max-width: 1290px;
    overflow: hidden;
    padding: 0;
    min-height: 633px;
}


ul.column {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    padding: 0;
    margin: auto;
    max-width: 1290px;
    overflow: hidden;
}

ul.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    max-width: 1290px;
    overflow: hidden;
    margin: 0 auto;
}

.columnIconContainer {
    display: flex;
    justify-content: right;
    margin-top: 25px;
    margin-right: 20px;
}

.columnIconContainer svg {
    width: 50px;
    height: 50px;
}

.HomePostsContent {
    padding: 20px;
}

.homeBanner {
    display: flex;
    background-image: linear-gradient( #aedd99, #c899dd01);
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    font-family: 'Montserrat';
    letter-spacing: .2em;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 20px;

}
.responsiveeverythingbar {
    display: none;
}

.homeBanner h2 {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
}


@media screen and (max-width:1289px) {
    ul.column {
        max-width: 100vw;
        display:flex;
        justify-content: center;
}
        
    

    /* .desktopeverythingbar{
        display:none;
    } */

    .responsiveeverythingbar{
        display:flex;
    }
}

@media screen and (max-width: 859px){
ul.column {
    justify-content: center;
}
.columnIconContainer svg {
    
    display:none;
}
}