@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Raleway&display=swap');

.navbar.wrapper {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    z-index: 2;
    top: 0;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 0px 25px 0px 25px;
    border-bottom: solid 1px #e5e7eb;
}

.box1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 50px;
}

.box2 {
    display: flex;
    justify-content: flex-end;  
}

.navbar a {
    text-decoration: none;
    position: relative;
    font-family: 'Raleway', cursive;
    color: black;
    line-height: 50px;
}

.navbar a:before {
    content: "";
    position: absolute;
    bottom: 8px;
    height: 2px;
    width: 100%;
    background: #aedd99;
    border-radius: 50px;
    transform: scaleX(0);
    transition: transform 0.2s linear;
}

.navbar a:hover:before {
    transform: scaleX(1);
}

.navbar a.active:before {
    transform: scaleX(1);
}

.navMenu{
    display:none;
}

navbar a:hover {
 color: white;
}


.navMenu a.active {
    position: relative;
}

.navMenu a.active::before {
    content: url('data:image/svg+xml,<svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0 0 512 512" xml:space="preserve" fill="%23000000" stroke="%23000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><style type="text/css"> .st0{fill:%23d1ffd2;} </style><g><path class="st0" d="M214.2,319.991L214.2,319.991L214.2,319.991C197.34,301.585,232.293,180.319,27.075,97.569 c-33.75,6.125-71.688,176.672,127.719,228.844c59.609,29.797,50.219,79.469,50.219,107.078h38.344 c0,0-15.688-87.578,54.375-119.672c47.672-21.828,179.328-28.828,214.265-225.547C445.387,49.757,208.825,124.835,214.2,319.991z M165.84,286.804c-4.063,2.813-9.641,1.797-12.453-2.266c-19.516-28.266-73.484-93.484-97.344-117.281 c-3.5-3.484-3.5-9.156,0-12.641c3.484-3.5,9.156-3.5,12.641,0c25.344,25.391,78.688,89.859,99.422,119.734 C170.918,278.413,169.903,283.991,165.84,286.804z M415.965,141.663c-65.25,41.234-118.578,109.844-142.625,147.109 c-2.672,4.141-8.219,5.328-12.359,2.656c-4.141-2.688-5.328-8.219-2.641-12.375c25.141-38.766,79.141-108.766,148.047-152.5 c4.172-2.656,9.688-1.406,12.344,2.766C421.372,133.491,420.137,139.007,415.965,141.663z"></path></g></g></svg>');
    position: absolute;
    left: -27px;
    top: calc(50% - 20px);
    display: block;
}

.spacer {
    height: var(--nav-bar-height);
}

@media screen and (max-width: 705px){
    

    .navMenu{
        position:relative;
        display:inline-block;
        
        
    }
    .navMenu svg{
       min-height: 50px;
       min-width: 50px; 
    }

    .navbar.wrapper{
        display:flex;
        flex-direction: row-reverse;
        padding-top: 5px;
        box-sizing: border-box;
    }

    .flex-container{
        border-bottom: 1px solid white;
    }

   :root{
    --nav-bar-height:70px;
   }
    .dropdown1{
        display:block;
        position: fixed;
        top: 55px;
        z-index: 1000; 
        width: 100vw;
        height: 100vh;
        right:-37px;
        background-color: #aedd99;

    }
    .dropdown1 li {
        list-style: none;
        display:block;
        z-index: 1000;
    }
    .nav-link {
        display:none;
    }
    .navbar a:before {
        display: none;
    }
    
    .dropdown1 a:hover {
       color: antiquewhite;
    }
    
    img {
        width: 270px;
        height:350px;
    }
    
    .HomePosts {
        max-width:300px;
        
    }

    ul.column {
        flex-direction: column;
        align-items: center;
    }

    .HomePosts h1 {
        display: flex;
        max-width: 270px;

}
}